<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="../../static/css/style.css"
          th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀 찾기 | DevMatch</title>
</head>
<body>
<div class="project-list">
    <div class="project-card">
        <h2>공모전 팀원 모집</h2>
        <p>백엔드 · Spring Boot · 비대면</p>
        <strong>적합도 90점</strong>
        <button>상세 보기</button>
    </div>

    <div class="project-card">
        <h2>토이프로젝트 팀원 모집</h2>
        <p>프론트엔드 · Android · 대면</p>
        <strong>적합도 20점</strong>
        <button>상세 보기</button>
    </div>

    <div class="project-card">
        <h2>해커톤 팀원 모집</h2>
        <p>AI · LLM · 대면</p>
        <strong>적합도 58점</strong>
        <button>상세 보기</button>
    </div>
</div>
</body>
</html>